.tools {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  @media (min-width: 576px) {
    flex-direction: row;
    gap: 40px;
    width: 80vw;
    margin: 50px auto;
  }
  @media (min-width: 768px) {
    gap: 70px;
  }

  h2 {
    text-transform: uppercase;
    font-family: "NeueMontreal-Regular";
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0.8em;
  }
  li {
    font-size: 13px;
    padding: 0.15em;
    text-transform: lowercase;
    & a {
      color: var(--main-color);
      text-transform: uppercase;
    }
  }
  img {
    width: 70%;
    margin: 0 auto;
  }
}
