.home-navbar {
  display: flex;
  font-family: "NeueMontreal-Light";
}

.home-navbar-line {
  height: 5px;
  background-color: var(--black-color);
  width: 100%;
  margin-bottom: 20px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 60px;
  & .navbar-right {
    text-align: right;
  }
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 13px;
  line-height: 1.4em;
}

.logo {
  font-family: "Migra-Regular";
  font-size: 18px;
}
