.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  height: 80vh;
  & ul {
    max-width: 60%;
    margin: 0 auto;
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & li {
      display: inline-block;
      position: relative;
      margin-right: 1em;
      & .gallery-link {
        display: inline-block;
        & span {
          cursor: pointer;
          display: inline-block;
          font-family: "Migra-regular";
          font-weight: 400;
          font-size: 30px;
          z-index: 10;
          mix-blend-mode: difference;
          position: relative;
          color: var(--grey-color);
        }
        > img {
          mix-blend-mode: difference;
          z-index: 10;
        }
      }
    }
  }
}

.hover-reveal {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 50%;
  right: 50%;
  pointer-events: none;
  transform: translate(50%, -50%);
  overflow: visible;
  opacity: 0;
  transition: all 0.5s ease-out;
  & img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.4s ease-out;
  }
}

.hover-reveal.web {
  width: 400px;
  height: 300px;
  border-radius: 50px;
  overflow: visible;
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
}
