
<div class="content-navbar-line"></div>
<div class="content-navbar">
  <div class="logo">
        <%= link_to root_path do %>
        Daphné Visuals
        <% end %>
  </div>
  <div class="navbar-wrapper">
    <ul>
      <li>
        <%= link_to webdesign_path, class:"link link-nav" do %>
            Developpement Web | UI/UX Design
        <% end %>
      </li>
      <li>
        <%= link_to photography_path, class:"link link-nav" do %>
          Photographie
        <% end %>
      </li>
    </ul>
    <ul class="navbar-right">
      <li>
        <%= link_to about_path, class:"link link-nav" do %>
          A propos & Contact
        <% end %>
      </li>
    </ul>
  </div>
  <div data-controller="burger" class="burger-button">
      <div class="burger-line white"></div>
    </div>
</div>
