<%# <div class="preloader" data-controller="preloader" >
  <div class="prl-wrapper">
    <div class="prl-text hide">Daphné Visuals</div>
    <div class="prl-count">
      <div class="prl-count-pct">
        <span class="data-style"><span class="data">100</span>%</span>
        <div class="prl-count-bar"></div>
      </div>
    </div>
  </div>
</div> %>
