<div class="about-page-wrapper">
  <h2>About</h2>
  <p>
    Hello world !
    Ma passion pour la conception interactive m'a conduit à décrocher mon CFC Interactive Media Designer en Suisse auprès de l’eikon.
    J’y ai découvert un intérêt particulier pour la photographie, le UI/UX design ainsi que le front-end !
  </p>
  <h3>Dev & Webdesign<h3>
  <p>
    Mon désir d'explorer de nouveaux horizons m'a conduit à Montréal, au Canada, où j'ai entrepris une formation
    intensive en développement web entièrement en anglais, chez Le Wagon. J’ai récemment obtenu ma certification en
    développement web (front & back), une expérience qui a élargi mes compétences dans le domaine numérique.
  </p>
  <h3>Photographie</h3>
  <p>
    C’est il y a quatre ans que je découvre une nouvelle passion pour la photographie, et un an que je pratique cette
    discipline en tant que photographe portraitiste freelance. Ce qui me plaît dans ce métier est de pouvoir capter l’expression
    simple et authentique de mes sujets, afin de raconter ce moment privilégié en image. Je suis aussi heureuse de pouvoir
    accompagner des personnes à poser un regard nouveau sur elles-mêmes et à reprendre confiance en elles,
    dans un aspect thérapeutique !
  </p>
</div>
