<div class="about-wrapper">
  <h2>A propos</h2>
  <p>
    Hello world !
    Ma passion pour la conception interactive m'a conduit à décrocher mon <strong>CFC Interactive Media Designer</strong> en Suisse auprès de l’eikon.
    J’y ai découvert un intérêt particulier pour la photographie, le UI/UX design ainsi que le front-end !
  </p>
  <div class="about-section">
    <h4>Dev & Webdesign</h4>
    <p>
      Mon désir d'explorer de nouveaux horizons m'a conduit à Montréal, au Canada, où j'ai entrepris une formation
      intensive en développement web entièrement en anglais, chez Le Wagon. J’ai récemment obtenu ma <strong>certification en
      développement web (front & back)</strong>, une expérience qui a élargi mes compétences dans le domaine numérique.
    </p>
  </div>
  <div class="about-section">
    <h4>Photographie</h4>
    <p>
      C’est il y a quatre ans que je découvre une nouvelle passion pour la photographie, et deux ans que je pratique cette
      discipline en tant que <strong>photographe portraitiste freelance</strong>. Ce qui me plaît dans ce métier est de pouvoir capter l’expression
      simple et authentique de mes sujets, afin de raconter ce moment privilégié en image. Je suis aussi heureuse de pouvoir
      accompagner des personnes à poser un regard nouveau sur elles-mêmes et à reprendre confiance en elles,
      dans un aspect thérapeutique !
    </p>
    <p class="about-p-mt">
      Au cours de la dernière année, j'ai particulièrement développé mon expertise en <strong>photographie
      de nuit</strong>, couvrant des événements tels que des festivals et des soirées en club. Cette facette de mon travail
      est sans aucun doute devenue l'une de mes activités préférées.
    </p>
  </div>
  <div class="about-img-flex">
    <%= image_tag "grey-flower.svg", alt: "Flower Icon" %>
  </div>
  <div class="about-contact">
    <p>Je suis aujourd'hui disponible pour mettre à profit mes compétences auprès
    d'une équipe ouverte et engagée, pour des collaborations ou de nouveaux défis freelance. </p>
    <p>Je propose aussi mes services freelance de photographie.
    Intéressé par un shooting ou une collaboration ?</p>
    <h4>Contactez-moi</h4>
    <ul>
      <li>+32 490 48 94 46</li>
      <li>daphnevisuals.com@gmail.com</li>
      <li class="socials">
        <a href="https://www.instagram.com/daphne.visuals/"><i class="fa-brands fa-instagram"></i></a>
        <a href="www.linkedin.com/in/daphne-visuals"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/daphnevisuals"><i class="fa-brands fa-github"></i></a>
      </li>
    </ul>
  </div>
</div>
