<main>
      <div class="homepage-description-wrapper">
        <div class="homepage-description">
          <h1 class="homepage-h1">Daphné Visuals</h1>
          <p class="homepage-p">
            Hey ! I’m a Full-Stack Web Developer and passionate photographer,
            based in Fribourg, Switzerland.
          </p>
        </div>
      </div>
      <div class="tools">
        <div class="tools-photography">
          <h2>Photography Gear</h2>
          <ul>
            <li>Fujifilm XT4</li>
            <li>50mm f.1</li>
            <li>24mm f1.4, 16-80mm f4</li>
            <li>Editing tools - lightroom & photoshop</li>
          </ul>
        </div>
        <div class="tools-icon">
        <%= image_tag "grey-flower.svg", alt: "Flower Icon" %>

        </div>
        <div class="tools-dev">
          <h2>Design and dev tools</h2>
          <ul>
            <li>UI/UX - Figma, Sketch</li>
            <li>Adobe suite</li>
            <li>Ruby, Ruby on Rails, SQL, Active Record</li>
            <li>HTML, SCSS, JS, stimulus js, gsap, VueJS</li>
          </ul>
        </div>
      </div>
    </main>
