<%# <div class="menu">
  <nav class="menu-nav">
    <ul id="gallery-links">
      <!-- ITEM 01 -->
      <li>
        <div class="gallery-link" data-category="clubbing">
          <span>Clubbing & Festivals,</span>

          <div class="hover-reveal image01">
            <img
              class="hidden-img"
              src="/src/img/menu-photography/menu-nightclub.webp"
              alt=""
            />
          </div>
        </div>
      </li>

      <!-- ITEM 02 -->
      <li>
        <div class="gallery-link" data-category="mariage">
          <span>Mariages,</span>

          <div class="hover-reveal image02">
            <img
              class="hidden-img"
              src="/src/img/menu-photography/menu-mariage.webp"
              alt=""
            />
          </div>
        </div>
      </li>

      <!-- ITEM 03 -->
      <li>
        <div class="gallery-link" data-category="portrait">
          <span>Portraits,</span>

          <div class="hover-reveal image03">
            <img
              class="hidden-img"
              src="/src/img/menu-photography/menu-portraits.webp"
              alt=""
            />
          </div>
        </div>
      </li>

      <!-- ITEM 04 -->
      <li>
        <div class="gallery-link" data-category="street">
          <span>Street & Landscapes,</span>

          <div class="hover-reveal image04">
            <img
              class="hidden-img"
              src="/src/img/menu-photography/menu-street.webp"
              alt=""
            />
          </div>
        </div>
      </li>

      <!-- ITEM 05 -->
      <li>
        <div class="gallery-link" data-category="animaux">
          <span>Animaux</span>

          <div class="hover-reveal image04">
            <img
              class="hidden-img"
              src="/src/img/menu-photography/menu-animaux.webp"
              alt=""
            />
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div> %>

<% @images['resources'].each do |image| %>
  <div class="image">
    <%= cl_image_tag(image['public_id']) %>
  </div>
<% end %>
