.content-nav {
  color: white;
  .content-navbar {
    display: flex;
    justify-content: space-between;
  }
  .content-navbar-line {
    height: 5px;
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
  }
  .link::before,
  .link::after {
    opacity: 0.8;
  }
  .logo {
    font-family: "Migra-Regular";
    font-size: 18px;
    color: white;
  }
}
