// @import "node_modules/swiper/swiper";
// @import "node_modules/swiper/components/effect-fade/effect-fade";

.swiper {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible !important;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  overflow: visible;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
}

.swiper-slide-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-img img {
  display: block !important;
  width: max-content !important;
  max-height: 70vh !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
}

// .swiper-buttons {
//   height: 100%;
//   width: 200%;
// }
.swiper-button-prev,
.swiper-button-next {
  width: 50% !important;
  height: 100% !important;
  top: 0 !important;
  margin: 0 !important;
  transition: cursor 0.3s !important;

  &::after {
    display: none !important;
  }
}

.swiper-button-prev {
  left: 0 !important;
  cursor: w-resize !important;
}

.swiper-button-next {
  right: 0 !important;
  cursor: e-resize !important;
}

.swiper-pagination {
  display: flex !important;
  gap: 5px !important;
}

.swiper-page {
  position: relative !important;
  bottom: 0 !important;
  left: 20 !important;
}
