.content-wrap {
  padding: 20px 40px;
  height: calc(100vh - 110px);
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    margin: auto 0;
    align-items: center;
  }
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.carousel {
  @media (min-width: 768px) {
    margin-left: 10vh;
  }
}
