.project-cover {
  max-width: 60vw;
}

.content-wrap-projects {
  display: block !important;
  color: red;
}

.content-container.projects {
  align-items: center;
}

.carousel.projects {
  margin-left: 0;
  width: 60vw;
}

.content-menu.projects {
  position: fixed;
  right: 40px;
  top: 50%;
}

.content-caroussel.projects {
  margin-top: 60px;
  width: 60vw;
}
