.project-cover {
  max-width: 70vw;
  margin: 0 auto;
}

.carousel.projects {
  margin-top: 60px;
  padding-bottom: 40px;
}

.content-wrap.projects {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
}

.content-wrap-projects {
  @media (min-width: 768px) {
    display: block !important;
  }
}

.content-container.projects {
  align-items: flex-start;
  max-width: 70vw;
}

.carousel.projects {
  margin-left: 0;
}

.content-menu.projects {
  @media (min-width: 768px) {
    position: fixed;
    right: 40px;
    top: 50%;
  }
}

.project-content {
  & h4 {
    font-size: 80px;
    font-weight: 100;
    color: var(--main-color);
    font-family: "Migra-ExtralightItalic";
  }
  & ul li {
    list-style-type: circle;
    margin-left: 15px;
    padding: 3px 0;
  }
  & p {
    font-size: 14px;
    padding: 0 0 20px 0;
    &.project-description {
      font-size: 30px;
      line-height: 1.5em;
      margin-bottom: 20px;
    }
    &.project-tasks {
      font-size: 20px;
      padding: 20px;
    }
    &.project-link {
      text-align: center;
      font-family: "NeueMontreal-Regular";
      line-height: 3em;
      & a {
        color: var(--main-color);
        font-size: 30px;
        padding: 0 15px;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.project-details {
  font-size: 12px;
}

.project-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
