.burger,
.burger-button {
  @media (min-width: 768px) {
    display: none;
  }
}

.burger-button {
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 999;
  position: absolute;
  top: 43px;
  right: 40px;

  .burger-line,
  .burger-line::before,
  .burger-line::after {
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--black-color);
    transition: 0.4s;
  }

  .burger-line.white,
  .burger-line.white::before,
  .burger-line.white::after {
    background-color: #fff;
  }

  .burger-line {
    position: relative;
    top: 8px;
  }

  .burger-line::before {
    content: "";
    top: -8px;
  }

  .burger-line::after {
    content: "";
    top: 8px;
  }
}

.burger-button.animate .burger-line {
  background: transparent;
}

.burger-button.animate .burger-line::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #fff;
}

.burger-button.animate .burger-line::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #fff;
}

.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 888;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.burger-menu ul li {
  padding: 10px 0;
  & a {
    font-family: "Migra-Regular";
    font-weight: 400;
    font-size: 5vw;
    color: white;
    transition: 0.4s ease-in-out;
    &:hover {
      color: var(--main-color);
    }
  }
}
