@font-face {
  font-family: "NeueMontreal-Italic";
  src: font-url("PPNeueMontreal-Italic") format("woff"),
    font-url("PPNeueMontreal-Italic") format("woff2");
}

@font-face {
  font-family: "NeueMontreal-Light";
  src: font-url("PPNeueMontreal-Light") format("woff"),
    font-url("PPNeueMontreal-Light") format("woff2");
}

@font-face {
  font-family: "NeueMontreal-Regular";
  src: font-url("PPNeueMontreal-Regular") format("woff"),
    font-url("PPNeueMontreal-Regular") format("woff2");
}

@font-face {
  font-family: "Migra-ExtralightItalic";
  src: font-url("PPMigra-ExtralightItalic") format("woff"),
    font-url("PPMigra-ExtralightItalic") format("woff2");
}

@font-face {
  font-family: "Migra-Italic";
  src: font-url("PPMigra-Italic") format("woff"),
    font-url("PPMigra-Italic") format("woff2");
}

@font-face {
  font-family: "Migra-Regular";
  src: font-url("PPMigra-Regular") format("woff"),
    font-url("PPMigra-Regular") format("woff2");
}
